<% include partials/header %>

  <script>
  $(function() {
    
    var date = $('#datepicker').datepicker({ dateFormat: 'yy-mm-dd' }).val();
    console.log(date);

   $('[data-toggle="tooltip"]').tooltip(); 



   $('.demo-form').parsley().on('form:validate', function (formInstance) {
    var ok = formInstance.isValid({group: 'block1', force: true}) || formInstance.isValid({group: 'block2', force: true});
    $('.invalid-form-error-message')
              alertify.error('Verifique sus datos');
    if (!ok)
      formInstance.validationResult = false;

  });


  });
  </script>

   <style type="text/css">
.ui-datepicker {
   background: #FFFFF0;
   border: 1px solid #555;
   color: red;
 }

 .glyphicon-question-sign {
    font-size: 20px;
    color: #6F8090;
    top:7px;
}

input[type="text"]{
  font-size: px;
}

  
</style>

<%if (user) { %>
    <h1>Hola,  <%=user.username%></h1>
   <hr>

<%} %>

 
<form class="demo-form animated fadeIn " method="POST" action="/proyecto">
        <div class="col-sm-7 col-md-offset-3">
                <h1 title="hello world" class="tooltip">Hello </h1>
            <h4>Crear Nuevo Proyecto:</h4>
            <div class="panel panel-default">
                <div class="panel-body form-horizontal payment-form">
 
                    <div class="form-group">
                        <label for="nombreP" class="col-sm-3 control-label">Nombre</label>
                        <div class="col-md-6 col-sm-9">
                            <input id="texto"type="text" class="form-control" id="nombreP" required="data-parsley-validate-if-empty"name="nombreP"  data-parsley-group="block1" data-parsley-required-message="Introduzca nombre de proyecto">
                        </div>
                    </div> 
 
                    <div class="form-group">
                        <label for="descripcion" class="col-sm-3 control-label">Descripcion</label>
                        <div class="col-md-6 col-sm-9">
                        <textarea type="textarea" class="form-control" id="descripcionP" name="descripcionP" required="data-parsley-validate-if-empty"name="descripcionP"  data-parsley-group="block1"data-parsley-required-message="Introduzca una breve descripcion"></textarea>
                            
                        </div>
                    </div>
                      
                    <div class="form-group">
                        <label for="rating" class="col-sm-3 control-label">Rating</label>
                        <div class="col-sm-9">
                            <div class="input-group col-md-5 col-sm-3">
                                
                                <!--   Solo permite numeros -->
                                    <input onkeypress='return event.charCode >= 48 && event.charCode <= 57'type="text" class="form-control" id="rating" name="ratingP">
                      
                             </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <label for="responsableP" class="col-sm-3 control-label">Responsable del proyecto</label>
                        <div class="col-md-6 col-sm-9">
                            <input type="text" class="form-control" id="responsableP" name="responsableP">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="fecha" class="col-sm-3 control-label" >Fecha de Cierre</label>
                        <div class="col-md-4 col-sm-9" >
                                                  
                            <input  class="form-control " id="datepicker" name="fechaP" required="data-parsley-validate-if-empty"name="fechaP"  data-parsley-group="block1" data-parsley-required-message="Introduzca una Fecha">
                        </div>
                    </div>
                                
              

                    <div class="form-group">
                            <label for="estado"title="My tooltip content" class="col-sm-3 control-label ">Status</label> <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="Indicar el estado actual del proyecto"></span>
                           
                            <div class="col-md-3 col-sm-3" >
                                                                    
                             <select name="statusP"class="form-control">
                               <option value="En Progreso">En Progreso</option>
                              <option value="Completado">Completado</option>
                              <option value="Diferido">Diferido</option>
                              <option value="Cancelado">Cancelado</option>
                              <option value="Abandonado">Abandonado</option>

                            </select>
                        </div>
                    </div>


                    <div class="form-group">
                        <label for="referidoP" class="col-sm-3 control-label">Referencia</label> <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="Indicar como origino proyecto"></span>
                        <div class="col-md-6 col-sm-9">
                            <input class="form-control" id="referidoP" name="referidoP">
                        </div>
                    </div>

                  
                    
                    <div class="form-group">
                        <div class="col-sm-12 text-right">
                            <button type="submit" id="agregar"  type="text"class="btn btn-primary preview-add-button">
                                <span class="glyphicon glyphicon-plus"></span> Agregar
                           </button>
                        </div>

                   

                    </div>
                </div>
            </div>            
        </div> <!-- / panel preview -->
        
    </form>





    