

</div>
	</div>

	<script src="https://cdn.rawgit.com/alertifyjs/alertify.js/v1.0.6/dist/js/alertify.js"></script>

	<footer class="footer">
      <div class="container">
        <h5 class="text-center">Expresiones Estudio&reg;
        2016 <br>
        Rio Fuerte 27-A, Col Jordan Madero
		Los Mochis <br>		6688187949, 6688187979, 6681240129, 6688568911
</h5>

      </div>
    </footer>
</body>
</html>

