<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Expresiones</title>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <link rel="icon" href="/../images/favicon.ico">
  

  <script src="https://cdn.jsdelivr.net/gh/alertifyjs/alertify.js@v1.0.6/dist/js/alertify.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
  <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/parsley.js/2.2.0/parsley.min.js"></script>


 
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.10/css/jquery.dataTables.min.css">
 
  <link rel="stylesheet" href="/../stylesheets/style.css">
  <link rel="stylesheet" href="/../stylesheets/animate.css">



  <script src="/../javascripts/dataTable.js"></script>
  <script src="/../javascripts/script.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css"
    rel="stylesheet" type="text/css">
   

    <link rel="stylesheet" href="https://bootswatch.com/journal/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'>


    <link rel="stylesheet" href="/../stylesheets/jquery.toolbar.css">
    <script src="/../javascripts/jquery.toolbar.js"></script>
      <script src="/../javascripts/editable.js"></script>



</head>
<body>

<script>
   jQuery(document).ready(function($) {

        $('#myTable').DataTable(); 
 
         

   });
    
 </script>

<style>
  

  .navbar-login
{
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session
{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}


.icon-size
{
    font-size: 87px;
}


</style>

 

<div class="navbar navbar-default " role="navigation">
    <div class="container"> 
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span> 
            </button>
            <a target="_blank" class="navbar-brand"><img class="img-responsive"src="../images/faces.jpg" alt="" width="55px" height="20px"></a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li ><a href="/home">INICIO</a></li>
                <li ><a href="/proyectos" >PROYECTOS</a></li>
                <li ><a href="/oportunidades" >OPORTUNIDADES</a></li>
                <li ><a href="/bdays" >CUMPLEAÑOS</a></li>
                <li ><a href="/agenda" >AGENDA</a></li>
                 <!-- <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">DropDown
                    <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Link 2</a></li>
                    </ul>
                 </li>   -->            
             </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-user"></span> 
                        <strong><%=user.username%></strong>
                        <span class="glyphicon glyphicon-chevron-down"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <div class="navbar-login">
                                <div class="row">
                                    <div class="col-lg-4 col-sm-12">
                                        <p class="text-center">
                                            <span class="glyphicon glyphicon-user icon-size"></span>
                                        </p>
                                    </div>
                                    <div class="col-lg-8 col-sm-12">
                                        <p class="text-left"><strong><%=user.nombre%></strong></p>
                                        <p class="text-left small"><%=user.correo%></p>
                                        <p class="text-left">
                                            <a href="/perfil" class="btn btn-primary btn-block btn-sm">Actualizar Datos</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <div class="navbar-login navbar-login-session">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <p>
                                            <a href="/logout" class="btn btn-danger btn-block">Cerrar Sesion</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
	<div class="container">
		<div class="row">