<% include partials/header %>

<div class="row animated fadeIn ">
		<div class="col-md-12 text-left">
			<a href="/proyecto" class="btn btn-primary text-center">
					<span class="glyphicon glyphicon-plus"></span> Proyecto

			</a>	<img style="float:right"src="/../images/projects.png" alt="" width="60px;" height="60px;">					
        </div>
</div>	



     <div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<h3>LISTADO DE PROYECTOS </h3>

		<button class="btn btn-info"style="float:right" onclick="goBack()"><span class="glyphicon glyphicon-arrow-left"></span> Atras</button>

			</div>
		</div>
</div>


<br>

<script>
	

	 function goBack() {
      window.history.back();


}

 	function clicked(e)
     {

      if(!confirm('Esta seguro de eliminar el Registro?'))e.preventDefault();
     }

       

</script>



<style>
	th{
		text-align: center;

	}

	#headerProject{
		font-weight: bold;
		font-size: 15px;


	}
	#estilo{
		font-size: 15px;
		padding-bottom: 10px;	
		color: black;
		font-weight: bold;
	}
	.titlemodal{
		font-size: 25px;
		
	}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
}


</style>
<div class="page-data">
	
	<% if (proyectos.length) { %>

 <div class="data-table " > 
	<table class="table hover" id="myTable">
		<thead>
			<tr style="font-weight:bold">
				<th>ID</th>
				<th>FECHA</th>
				<th>PROYECTO</th>
				<th>ACCIONES</th>
				
			</tr>
		</thead>
		<tbody>	
		    <% proyectos.forEach(function(proyecto) { %> 
			    <tr class="<%=proyecto.statusP%>">
			   	   <td style="text-align:center"width= "5%"><%= proyecto.id %></td>

						
			   	   <td  style="text-align:center ;font-size:13px;"width="20%"><%= proyecto.actualP %></td>


					<td width="65%"><span id="headerProject"><%= proyecto.nombreP %></span>
						<br>
						<span style="font-style: italic;">- <%= proyecto.descripcionP %></span>
						<span style="float:right; font-weight: bold">Status : <span class="<%=proyecto.statusP%>"id="status"><%=proyecto.statusP%>&nbsp&nbsp</span> <span style="float:right"id="resultado"></span></span>	

					</td>
					    


					<td width="15%"><a style="float:left; margin-top:10px" data-toggle="modal" data-target="#<%=proyecto.id%>" class="btn btn-success">
							<!-- <span class="glyphicon glyphicon-edit"></span>  -->Ver
						</a>
						<form method="POST" action="/proyecto">
							<input type="hidden" name="_method" value="DELETE">
		                    <input type="hidden" name="id" value="<%= proyecto.id %>">
	                        <button  style="margin-left:5px; margin-top:10px; margin-right:px;"onclick = "clicked(event)"type="submit" class="btn btn-primary  preview-add-button">
	                           <span class="glyphicon glyphicon-trash"></span> 
	                        </button>
						</form>	

					</td>


				<!-- Inicia Ventana Modal -->
					<div id="<%=proyecto.id%>" class="modal fade" role="dialog">
				  <div class="modal-dialog">

				    <!-- Modal content-->
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal">&times;</button>
				        <h3 class="modal-title text-center titlemodal">DETALLES DEL PROYECTO</h3> 
				      </div>
				      <div style="color:black; background-color:#F9FCFF"class="modal-body">
						    <!--  <div class= "row"><span id="estilo">Id:</span> <%= proyecto.id %></div> -->
						    <div class="container">
						      <div class="row">
						      	 
						      </div>

						     <div class= "row"><span id="estilo">&nbsp &nbsp &nbsp &nbsp &nbsp  &nbsp  &nbspProyecto :</span>      <%= proyecto.nombreP %></div><br>
						     <div class= "row"><span id="estilo">Fecha Creacion :</span>      <%= proyecto.actualP %></div><br>
						     <div class= "row"><span id="estilo">&nbsp &nbsp &nbsp &nbspDescripcion :</span> <%= proyecto.descripcionP %></div><br>
						     
						     <div class= "row"><span id="estilo">&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp Status : </span><%= proyecto.statusP %></div><br>
						     <div class= "row"><span id="estilo">&nbsp &nbsp &nbsp &nbsp &nbsp&nbspReferencia:</span> <%=proyecto.referidoP %></div><br>
						     <div class= "row"><span id="estilo"> &nbsp &nbsp &nbspResponsable :</span> <%= proyecto.responsableP %></div><br>
						     <div class= "row"><span id="estilo"> &nbsp &nbsp &nbspFecha Cierre :</span> <%=proyecto.fechaP %></div><br>
				      		</div>
				      </div>
				      <div class="modal-footer">
				        <a href="/proyecto/<%=proyecto.id%>" class="btn btn-info">Editar
						
						</a class='text-right'>
				        <button type="button" class="btn btn-default " data-dismiss="modal">Cerrar</button>
				      </div>
				    </div>

				  </div>
				</div>
					
				
				</tr>
			<% }); %>
		</tbody>
	</table>


	<% }else{%>
		<br>
	<br><br>
		<div style="background: #FF6961; color:white"class="col-md-6 col-md-offset-3 col-sm-3 alert alert-danger text-center">Actualmente no hay proyectos que mostrar</div>
		
	<% } %>
 </div>

<div>


</div>