<% include partials/header %>


  <script>
  $(function() {
    
    var date = $('#datepicker').datepicker({ dateFormat: 'yy-mm-dd' }).val();
  console.log(date);
   $('[data-toggle="tooltip"]').tooltip(); 



  });
  </script>

   <style type="text/css">
.ui-datepicker {
   background: #FFFFF0;
   border: 1px solid #555;
   color: red;
 }

 .glyphicon-question-sign {
    font-size: 20px;
    color: #6F8090;
    top:7px;
}
label{
  font-weight: bold;
  font-size: 15px;
}


  
</style>


 
<form class="animated fadeIn "method="POST" action="/oportunidad/">
        <div class="col-sm-7 col-md-offset-3">
            <h3 class="text-center">Detalles de Oportunidad</h3>
            <hr>
         
                <div class="panel-body form-horizontal payment-form">

                  <div class="form-group">
                        <div class="row">
                          <label style="font-weight:bold; font-size:15px;"for="id" class="col-sm-5 control-label">ID Oportunidad : <%=info[0].id%></label>
                           <label style="font-weight:bold, float:right"for="id" class="col-sm-5 control-label">Estado Actual : <span class="<%=info[0].estado%>"><%=info[0].estado%></span></label>
                           <!-- <label style="font-weight:bold"for="id" class="col-sm-5 control-label">Fecha Creada : <%=info[0].fecha%></label> -->
                          
                        </div>
                        
                    </div> 
 
                    <div class="form-group">
                        <label for="nombre" class="col-sm-3 control-label">Nombre</label>
                        <div class="col-md-6 col-sm-9">
                            <input value="<%=info[0].nombre%>" id="texto"type="text" class="form-control" id="nombre" name="nombre">
                        </div>
                    </div> 
 
                   
                    <div class="form-group">
                        <label for="descripcion" class="col-sm-3 control-label">Descripcion</label>
                        <div class="col-md-6 col-sm-9">
                        <textarea type="input" class="form-control" id="descripcion" name="descripcion" required="data-parsley-validate-if-empty"name="nombre"  data-parsley-group="block1"data-parsley-required-message="Introduzca una breve descripcion"><%=info[0].descripcion%></textarea>
                            
                        </div>
                    </div>
                      
                    <div class="form-group">
                        <label for="valor" class="col-sm-3 control-label">Valor</label>
                        <div class="col-sm-9">
                            <div class="input-group col-md-5 col-sm-3">
                                <div class="input-group-addon">$</div>
                                <!--   Solo permite numeros -->
                                    <input value="<%=info[0].valor%>"onkeypress='return event.charCode >= 48 && event.charCode <= 57'type="text" class="form-control" id="valor" name="valor">
                                <div class="input-group-addon">.00</div>
                             </div>
                        </div>
                    </div>
                                
                    <div class="form-group">
                        <label for="responsable" class="col-sm-3 control-label">Responsable</label>
                        <div class="col-md-6 col-sm-9">
                            <input value="<%=info[0].responsable%>" type="text" class="form-control" id="responsable" name="responsable">
                        </div>
                    </div>

 
                    <div class="form-group">
                        <label for="fecha" class="col-sm-3 control-label">Oportunidad Creada</label>
                        <div class="col-md-3 col-sm-9" >
                                                  
                            <input value="20<%=info[0].fecha%>" class="form-control " id="datepicker" name="fecha">
                        </div>
                    </div>

                     <div class="form-group">
                            <label for="estado"title="My tooltip content" class="col-sm-3 control-label ">Status</label> <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="Indicar el estado actual de la oportunidad"></span>
                           
                            <div class="col-md-3 col-sm-3" >
                                                                    
                             <select value="<%=info[0].estado%>"name="estado"class="form-control">
                              <option value="Abierta">Abierta</option>
                              <option value="Ganada">Ganada</option>
                              <option value="Perdida">Perdida</option>
                              <option value="Abandonada">Abandonada</option>
                              <option value="Suspendida">Suspendida</option>
                             

                            </select>
                        </div>
                    </div>


                    <div class="form-group">
                        <label for="origen" class="col-sm-3 control-label">Origen</label>
                        <div class="col-md-6 col-sm-9">
                            <input value="<%=info[0].origen%>" class="form-control" id="origen" name="origen">
                        </div>
                    </div>
                    <!--campo oculto para decirle a express que es una petición put-->
                    <input type="hidden" name="_method" value="PUT">
                    <!--campo oculto con el id del usuario-->
                    <input type="hidden" name="id" value="<%=info[0].id%>">
                    <hr>
                    
                    <div class="form-group">
                        <div class="col-sm-12 text-right">
                            <button type="submit" id="agregar"  type="text"class="btn btn-primary preview-add-button">
                                <span class="glyphicon glyphicon-edit"></span> Actualizar
                           </button>
                        </div>
                   

                    </div>
                </div>
            </div>            
       
    </form>
